<h1><%= @question.description() %></h1>

<h3>Answers:</h3>

<ul>
    <% @answers.each do |answer| %>
      <li> <%= answer.description %> </li>
    <% end %>
</ul>

<form action="/question/<%=@question.id%>" method="post">
  <div class="form-group">
    <label for="answer">Enter a answer here:</label>
    <input id="answer" class="form-control" name="answer" type="text">
  </div>
  <button id="add_answer" class="btn btn-success">Add Answer</button>
  <br>
</form>
<br>
<%= @message %>



<form>
  <br>
    <div class="form-group">
      <a href="/survey/<%= @question.survey_id %>" id="<%= @question.survey_id %>" class="btn btn-info" role="button"> Back </a>
    </div>
</form>

<form>
  <br>
    <div class="form-group">
      <a href="/" class="btn btn-info" role="button">Home</a>
    </div>
</form>
